# Solace PubSub+ Broker Parameters

# The host URL of the Solace PubSub+ Broker, aka "Broker URL", and formatted as `host:port`
SOLACE_CLOUD_HOST=wss://your-broker-host.messaging.solace.cloud:443

# The Virtual Private Network (VPN) name, aka "Message VPN"
SOLACE_CLOUD_VPN=your-message-vpn

# The username for authentication, aka "Client Username"
SOLACE_CLOUD_USERNAME=your-client-username

# The password for authentication, aka "Client Password"
SOLACE_CLOUD_PASSWORD=your-client-password
